.RevIT {
	text-align: center;
	background-color: #d9dae6;
}

.RevIT-link {
	color: #09d3ac;
}

body {
	font-family: verdana;
	font-size: 13px;
	margin: 0;
}
a,
a:hover,
a:focus,
a:visited,
a:active {
	text-decoration: none;
	color: #111;
}
